<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}

    <!-- jQuery 3.2.1 -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/action.js') }}"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <title>{% block title %}{% endblock %} distributary.io </title>
    {% endblock %}
  </head>
  <body>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
              <img id="logo" src="static/images/distributary.svg" alt="distributary.io" >
          </a>
        </div>
        <ul class="nav navbar-nav" id="text-logo">
            <p>distributary.io</p>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <button type="button" class="btn btn-default navbar-btn" style="margin-right:10px;">Admin</button>
        </ul>
      </div>
    </nav>
    <div id="wrapper">
        <div class="container-fluid fill-height">
            <div class="row">
                <div class="col-lg-3">
                    <div class="navbar">
                        <div class="navbar-header">
                          <h2>Workflows</h2>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                          <button id="newWorkflowButton" type="button" data-toggle="modal" data-target="#newWorkspace" class="btn navbar-btn glyphicon glyphicon-plus"></button>
                            <div class="modal fade" id="newWorkspace" tabindex="-1" role="dialog">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">New Workflow</h4>
                                  </div>
                                  <div class="modal-body">
                                      <input type="text" id="workspace_name" placeholder="workflow">
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    <button type="button" class="btn btn-primary" onclick="AddWorkflow()" data-dismiss="modal">Add</button>
                                  </div>
                                </div><!-- /.modal-content -->
                              </div><!-- /.modal-dialog -->
                            </div><!-- /.modal -->
                        </ul>
                    </div>
                    <ul class="list-group" id="workflows">
                      <!--
                      <li class="list-group-item">First item</li>
                      <li class="list-group-item">Second item</li>
                      <li class="list-group-item">Third item</li>
                      -->
                    </ul>
                </div>
                <div id="workspace" class="col-lg-6">
                    <div id="headerPlaceholder"></div>
                    <div class="container-fluid">
                        <div id="wsInput" class="col-lg-4"></div>
                        <div id="wsCenter" class="col-lg-4"></div>
                        <div id="wsOutput" class="col-lg-4"></div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <!--
                    <h2>Attributes</h2>
                    <form>
                      <div class="form-group">
                        <label for="input1">Input 1</label>
                        <input type="text" class="form-control" id="input1" placeholder="Input1">
                      </div>
                      <div class="form-group">
                        <label for="input2">Input 2</label>
                        <input type="text" class="form-control" id="input2" placeholder="Input2">
                      </div>
                      <div class="form-group">
                        <label for="input3">Input 3</label>
                        <input type="text" id="input3">
                        <p class="help-block">Example block-level help text here.</p>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"> Check me out
                        </label>
                      </div>
                      <button type="submit" class="btn">Submit</button>
                    </form>
                    -->
                </div>
            </div>
        </div>
    </div>
  </body>
</html>