<div class="pluginAttributes hidden">
    <div class="alert alert-success alert-dismissible" style="display:none;" role="alert" id="successAlert">
        <strong>Success!</strong> DTR webhooks created.
        <button type="button" class="close"  onclick="hideAllAttributes();" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <h2><b>Directions</b></h2>
    <div>
        <!-- <form action="{{ url_for('create_webhook') }}" method="post"> -->
        <form id="attributeForm">
            <p>Select the repository you want notifications from.</p>
            <div class="form-group">
                <label for="repos">Repositories:</label>
                <select type="text" class="form-control" name="repos" id="repos" value="{{ job.repository }}"required></select>
            </div>
            <p>Select the items you wish to be notified on.</p>
            <div class="checkbox">
              <label><input type="checkbox" name="tag_push" value="1" {% if job.tagPush==True %}checked{% else %}{% endif %}>Tag pushed to repository.</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" name="tag_del" value="1" {% if job.tagDel==True %}checked{% else %}{% endif %}>Tag deleted from repository</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" name="man_push" value="1" {% if job.manPush==True %}checked{% else %}{% endif %}>Manifest pushed to repository.</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" name="man_del" value="1" {% if job.manDel==True %}checked{% else %}{% endif %}>Manifest deleted from repository.</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" name="sec_comp" value="1" {% if job.secComp==True %}checked{% else %}{% endif %}>Security scan completed.</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" name="sec_fail" value="1" {% if job.secFail==True %}checked{% else %}{% endif %}>Security scan failed.</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" name="promote_img" value="1" {% if job.promoteImg==True %}checked{% else %}{% endif %}>Image promoted from repository.</label>
            </div>
            <hr />
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
    <script>
    $('#attributeForm').submit(function(event) {
        event.preventDefault();
        var formData = $(this).serialize();
        $.ajax({
            method: 'POST',
            url: "{{ url_for('create_webhook') }}",
            data: formData + '&uuid=' + $('.list-group-item.active').attr('id') + '&job=' + $('.inputComponent > a').attr('id'),
            success: function() { $('#successAlert').slideDown(); }
        });
    });
    </script>
</div>