<div class="dockerWrapper">
    <div class="modal fade" id="newDTRWorkspace" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">DTR Login</h4>
          </div>
          <div class="modal-body">
              <form id="dockerloginForm">
                <div class="form-group">
                    <label for="url">DTR URL:</label>
                    <input type="url" class="form-control" name="url" id="url" value="{{ saved_URL }}" required>
                </div>
                <div class="form-group">
                    <label for="user">DTR User:</label>
                    <input type="user" class="form-control" name="user" id="user" required>
                </div>
                <div class="form-group">
                    <label for="pwd">DTR Password:</label>
                    <input type="password" class="form-control" name="pwd" id="pwd" required>
                </div>
              </form>
          </div>
          <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="DTRlogin" data-dismiss="modal">Login</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <script>
        $('#DTRlogin').click(function(event) {
            event.preventDefault();
            var formData = $('#dockerloginForm').serialize();
            var job_id = $('.inputComponent > a').attr('id');
            var response = $.ajax({
                method: 'POST',
                url: "{{ url_for('docker_repos') }}",
                data: formData + '&uuid=' + $('.list-group-item.active').attr('id') + '&job=' + job_id,
                success: function(text) {
                    $('#attributes').load('/attributes?job='+job_id, function()
                    {
                        selected = $('#repos').attr('value');
                        data = JSON.parse(text);
                        data.forEach(function(repo) {
                            if (repo == selected) {
                                $('#repos').append('<option value="'+repo+'" selected>'+repo+'</option>');
                            }
                            else {
                                $('#repos').append('<option value="'+repo+'">'+repo+'</option>');
                            }
                        });
                        $('.pluginAttributes').removeClass('hidden');
                        $('#attributes').removeClass('hidden');
                    });
                }
            });
            console.log(response);
        });
    </script>
</div>