{% block workspaceWrapper %}
    <div id="wrapper">
        <div class="container-fluid fill-height">
            <div class="row">
                <div class="col-xs-3">
                    <div class="navbar">
                        <div class="navbar-header">
                          <h2>Workflows</h2>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                          <button id="newWorkflowButton" type="button" data-toggle="modal" data-target="#newWorkspace" class="btn navbar-btn glyphicon glyphicon-plus"></button>
                            <div class="modal fade" id="newWorkspace" tabindex="-1" role="dialog">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">New Workflow</h4>
                                  </div>
                                  <div class="modal-body">
                                      <input type="text" id="workspace_name" placeholder="workflow">
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    <button type="button" class="btn btn-primary" onclick="AddWorkflow()" data-dismiss="modal">Add</button>
                                  </div>
                                </div><!-- /.modal-content -->
                              </div><!-- /.modal-dialog -->
                            </div><!-- /.modal -->
                        </ul>
                    </div>
                    <ul class="list-group" id="workflows">
                    </ul>
                </div>
                <div id="workspace" class="col-xs-3 hidden">
                    <div id="headerPlaceholder"></div>
                    <div class="container-fluid">
                        <div id="modalPlaceholder"></div>
                        <div id="wsInput" class="col-xs-6 center-col"></div>
                        <!-- <div id="wsCenter" class="col-xs-4"></div> -->
                        <div id="wsOutput" class="col-xs-6 center-col"></div>
                    </div>
                </div>
                <div id="attributes" class="col-xs-6 hidden">
                </div>
            </div>
        </div>
    </div>
{% endblock %}