html, body {
  height:100%;
  background-color: #efefef;
}

body {
  width: 100%;
  margin: 0 auto;
  min-height: 100%;
  font-size: 200%;
}

#wrapper {
  height: 80%;
  min-height: 100%;
  overflow: auto;
}

.fill-height {
  height: 100%;
  min-height: 100%;
  overflow: auto;
  padding: 0px;
  /*margin: 0px;*/

}
/* Grid borders */
.row {
  overflow: auto;
  height: 100%;
  min_height: 100%;
}

.container-fluid .row .col-xs-6.center-col {
  /*overflow: auto;*/
  height: 100%;
  min-height: 100%;
  border: 0px;
  /*background-color: #efefef;*/
}

.container-fluid .row .col-xs-6 {
  /*overflow: auto;*/
  height: 100%;
  min-height: 100%;
  background-color: #ffffff;
  border: 5px solid #efefef;
}

.container-fluid .row .col-xs-3 {
  background-color: #ffffff;
  height: 100%;
  min-height: 100%;
  border: 5px solid #efefef;
}

#wsCenter {
  background-color: #EAEDED;
  min-height: 100%;
  height: 100%;
}

#logo {
  width: 40px;
  height: 40px;
  margin-top: -10px;
  float: right;
}

#newWorkflowButton {
  float: right;
  padding-right: 10px;
}

#text-logo {
    color: white;
    margin-top: 15px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: LightGray;
}
::-moz-placeholder { /* Firefox 19+ */
  color: LightGray;
}
:-ms-input-placeholder { /* IE 10+ */
  color: LightGray;
}
:-moz-placeholder { /* Firefox 18- */
  color: LightGray;
}

li:hover {
  background-color: #D0D3D4;
}

.dockerImage {
  /*width: 50%;
  height: 50%;*/
  position: relative;
}

.slackImage {
  /*width: 50%;
  height: 50%;*/
  position: relative;
}

.inputButton {
  float: left;
  /*width: 60%;
  height: 60%;*/
  position: relative;
  margin-top: 10px;
}

.sparkImage {
  /*width: 50%;
  height: 50%;*/
  position: relative;
}

.outputButton {
  float: right;
  /*width: 60%;
  height: 60%;*/
  position: relative;
  margin-top: 10px;
}

.icon:hover {
  filter: invert(20%);
}

.inputButton:hover {
  /*background-color: #ABB2B9;*/
  filter: invert(20%);
}

.outputButton:hover {
  /*background-color: #ABB2B9;*/
  filter: invert(20%);
}

.icon {
    max-width: 60%;
}

.icon.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#workButtonInput {
  float: left;
  height: 100%;
}

#workButtonOutput  {
  float: right;
  height: 100%;
}

#workButtonInput:hover {
  background-color: #D4E6F1;
}

#workButtonOutput:hover {
  background-color: #D4E6F1;
}

#workspaceHeader {
  background-color: #333;
  color: #ffffff;
  margin-bottom: 40px;
}

h1 {
    text-align: center;
}

#workSubHeader {
  /*padding-bottom: 30px;*/
  text-align: center;
}

.connectorLine {
  stroke:#006600;
  stroke-width: 2px;
}

#dockerCode {
  word-break: break-all;
  background-color: #ffffff;
  color: #2471A3;
  font-size: 1em;
}