html, body {
  height:100%;
}

body {
  width: 100%;
  margin: 0 auto;
  min-height: 100%;
  /*font-size: 200%;*/
}

#wrapper {
  height: 100%;
  min-height: 100%;
  overflow: auto;
}

.fill-height {
  height: 100%;
  min-height: 100%;
  overflow: auto;
  padding: 0px;
  /*margin: 0px;*/

}
/* Grid borders */
.row {
  overflow: auto;
  height: 100%;
  min_height: 100%;
}

.container-fluid .row .col-xs-6 {
  overflow: auto;
  height: 100%;
  min-height: 100%;
  background-color: #efefef;
  /*margin-left: 5px;*/
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid transparent;
}

.container-fluid .row .col-xs-3 {
  background-color: #efefef;
  overflow: auto;
  height: 100%;
  min-height: 100%;
  /*margin-left: 5px;*/
  padding-left: 20px;
  padding-right: 20px;
  border: 2px solid #ffffff;
}

.container-fluid .row .col-xs-6 .container-fluid {
  min-height: 100%;
  height: 100%;
  /*margin-left: 5px;*/
  padding-left: 20px;
  padding-right: 20px;
  overflow: auto;
}

#wsCenter {
  background-color: #EAEDED;
  min-height: 100%;
  height: 100%;
}

#logo {
  width: 40px;
  height: 40px;
  margin-top: -10px;
  float: right;
}

#newWorkflowButton {
  float: right;
  padding-right: 10px;
}

#text-logo {
    color: white;
    margin-top: 15px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: LightGray;
}
::-moz-placeholder { /* Firefox 19+ */
  color: LightGray;
}
:-ms-input-placeholder { /* IE 10+ */
  color: LightGray;
}
:-moz-placeholder { /* Firefox 18- */
  color: LightGray;
}

li:hover {
  background-color: #D0D3D4;
}

.dockerImage {
  /*width: 50%;
  height: 50%;*/
  position: relative;
}

.slackImage {
  /*width: 50%;
  height: 50%;*/
  position: relative;
}

.inputButton {
  float: left;
  /*width: 60%;
  height: 60%;*/
  position: relative;
  margin-top: 10px;
}

.sparkImage {
  /*width: 50%;
  height: 50%;*/
  position: relative;
}

.outputButton {
  float: right;
  /*width: 60%;
  height: 60%;*/
  position: relative;
  margin-top: 10px;
}

.inputButton:hover {
  background-color: #ABB2B9;
}

.outputButton:hover {
  background-color: #ABB2B9;
}

.icon {
    max-width: 100%;
    height: 100px;
}

#workButtonInput {
  float: left;
  height: 100%;
}

#workButtonOutput  {
  float: right;
  height: 100%;
}

#workButtonInput:hover {
  background-color: #D4E6F1;
}

#workButtonOutput:hover {
  background-color: #D4E6F1;
}

#workspaceHeader {
  background-color: #808B96;
  color: #ffffff;
  margin-bottom: 40px;
}

h1 {
    text-align: center;
}

#workSubHeader {
  padding-bottom: 30px;
}

.connectorLine {
  stroke:#006600;
  stroke-width: 2px;
}

/* p { word-break: break-all } */

#dockerCode {
  background-color: #ffffff;
  color: #2471A3;
  /*font-size: 1em;*/
}